<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auditoria.sqlitecrud" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagePersonView"
            android:label="@string/title_activity_manage_person_view" >
        </activity>
        <activity
            android:name=".ManageStatusView"
            android:label="@string/title_activity_manage_status_view" >
        </activity>
        <activity
            android:name=".ManageStudiesView"
            android:label="@string/title_activity_manage_studies_view" >
        </activity>
        <activity
            android:name=".ManageSpecialityView"
            android:label="@string/title_activity_manage_speciality_view" >
        </activity>
        <activity
            android:name=".ManageLabotalStatusView"
            android:label="@string/title_activity_manage_labotal_status_view" >
        </activity>
        <activity
            android:name=".AddPersonView"
            android:label="@string/title_activity_add_person_view" >
        </activity>
        <activity
            android:name=".ShowPersonsView"
            android:label="@string/title_activity_show_persons_view" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
